FLASK_SECRET_KEY="$(python -c 'import secrets; print(secrets.token_hex(32))')"
FLASK_SQLALCHEMY_ENGINES__default=sqlite:///${PWD}/test.sqlite

LDAP_URL=ldap://freeipa.lan.posttenebraslab.ch
LDAP_USER_SEARCH_BASE=cn=users,cn=accounts,dc=posttenebraslab,dc=ch
LDAP_GROUP_SEARCH_BASE=cn=groups,cn=accounts,dc=posttenebraslab,dc=ch
